<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card large">
                <div class="card-image">
                    <img src="images/wall_aj.jpg">
                    <span class="card-title">AMIT JAGTAP | Senior Front End Developer </span>
                </div>
                <div class="card-content">
                    <p>{{vm.message}}</p>
                </div>
                <div class="card-action">
                    <a ui-sref="processes" class="medium"><span class="purple-text text-lighten-2 huge"> Proceed <i class=" fa fa-chevron-circle-right"></i> </span></a>
                </div>
            </div>
        </div>
    </div>
</div>


