<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row">

    <div id="test1" class="col s12 m12 l12 ">
        <br>
        <br>
        <br>
        <div class="row">
            <nav class="top-nav z-depth-0  blue-grey lighten-3">
                <div class="nav-wrapper huge">&nbsp;&nbsp;Accepted items </div>
            </nav>
        </div>
        <br>
        <ul class="popout" data-collapsible="accordion" collapsible>
            <li >
                <div class="collapsible-header ">
                    <div class="row ">
                        <div class="col s2 m2 l2"> <i class="fa fa-list-ul fa-fw"></i> Change-list/Build </div>
                        <div class="col s2 m2 l2"> <i class="fa fa-user fa-fw"></i> Owner </div>
                        <div class="col s2 m2 l2"> <i class="fa fa-clock-o fa-fw"></i> Time Started </div>
                        <div class="col s2 m2 l2"> <i class="fa fa-exchange fa-fw"></i> State </div>
                        <div class="col s1 m1 l1"> Metrics </div>
                        <div class="col s1 m1 l1"> Build </div>
                        <div class="col s1 m1 l1"> Unit Test </div>
                        <div class="col s1 m1 l1"> Functional</div>
                    </div>
                </div>
            </li>
            <li ng-repeat="build in vm.BuildList track by $index" >

                <div class="collapsible-header " 
                     ng-class="{'red-text text-accent-2': build.state == 'Rejected' , 'green-text text-darken-3': build.state == 'Accepted' || build.state == 'Complete',
                                ' blue-grey-text text-darken-2': build.state == 'Pending','blue-text text-lighten-2': build.state == 'Running'}">
                    <div class="col s2 m2 l2">
                        <i class="fa fa-fw " ng-class="{'fa-laptop':build.state == 'Complete','fa-tasks':build.state !== 'Complete'}"></i>
                        &nbsp;{{build.name}} </div>
                    <div class="col s2 m2 l2">&nbsp;{{build.owner}} </div>
                    <div class="col s2 m2 l2">&nbsp;{{build.timeStarted}} </div>
                    <div class="col s2 m2 l2">&nbsp;{{build.state}} </div>
                    <div class="col s4 m4 l4 "  ng-show="build.state == 'Pending'">
                        <div class="col s3 m3 l3" > 
                            <div class="progress progress-big ">
                                <div class="determinate grey"  style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3">
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 m4 l4" ng-show="build.state == 'Running'">
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big ">
                                <div class="determinate blue darken-1"  style="width: 60%"></div>
                            </div>
                        </div>
                        <div class="col s3 l3 m3"> 
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3">
                            <div class="progress progress-big">
                                <div class="determinate grey" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 m4 l4 " ng-show="build.state == 'Rejected'">
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big ">
                                <div class="determinate red "  style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2 " style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3">
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 m4 l4" ng-show="build.state == 'Complete' || build.state == 'Accepted'">
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big ">
                                <div class="determinate light-green accent-2"  style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3"> 
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2 " style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col s3 m3 l3">
                            <div class="progress progress-big">
                                <div class="determinate light-green accent-2" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body" ng-show="build.metrics.test">
                    <div class="row" style="margin-left: 0;margin-right: 0;">
                        <div class="col s2 m2 l2"> 
                            <div class="card-panel light-blue ">
                                <span class="card-title">Metrics</span><br><br>
                                <ul class="collection">
                                    <li class="collection-item big-rel">Test
                                        <span class="badge green darken-1 small-rel"><span class="white-text ">{{build.metrics.test}} <i class="fa fa-arrow-up fa-fw"></i></span></span>
                                    </li>
                                    <li class="collection-item big-rel "  ng-show="build.state !== 'Rejected'">Maintainability
                                        <span class="badge green darken-1 small-rel"><span class="white-text">{{build.metrics.maintainability}} <i class="fa fa-arrow-up fa-fw"></i></span></span>
                                    </li>
                                    <li class="collection-item big-rel"  ng-show="build.state == 'Rejected'">Maintainability
                                        <span class="badge red small-rel"><span class="white-text">{{build.metrics.maintainability}} <i class="fa fa-arrow-down fa-fw"></i></span></span>
                                    </li>
                                    <li class="collection-item big-rel">Security 
                                        <span class="badge yellow darken-1 small-rel"><span class="white-text">{{build.metrics.security}} <i class="fa fa-arrow-right fa-fw"></i></span></span>
                                    </li>
                                    <li class="collection-item big-rel">Workmanship 
                                        <span class="badge yellow darken-1 small-rel"><span class="white-text">{{build.metrics.workmanship}} <i class="fa fa-arrow-right fa-fw"></i></span></span>
                                    </li>
                                </ul>

                            </div> 
                        </div>
                        <div class="col s2 m2 l2" >
                            <div class="card-panel light-blue " >
                                <span class="card-title">Build</span><br><br>
                                <div class="row">
                                    <div class="col s5 m5 l5 center-align hoverable orange z-depth-1"> <i class="fa fa-laptop fa-4x"></i> <br><span>Debug</span></div>
                                    <div class="col s5 m5 l5 offset-s2 offset-m2 offset-l2 center-align hoverable green z-depth-1"> <i class="fa fa-laptop fa-4x"></i> <br><span>Release</span></div>
                                </div>
                                <br>
                                <br>
                                <div class="center-align row">
                                    <span>Build Date</span><br>
                                    <span>{{build.build.date}}</span>
                                </div>
                                <br>
                            </div> 
                        </div>
                        <div class="col s2 m2 l2">
                            <div class="card-panel light-blue ">
                                <span class="card-title">Unit Test</span><br><br>
                                <div class="row">
                                    <div class="col s7 m7 l7 center-align" > 
                                        <canvas id="pie" class="chart chart-pie" chart-data="[build.unitTest.passed,build.unitTest.failed]" chart-legend='false' chart-labels="vm.chartLabels" width="150" height="150">
                                        </canvas> 
                                    </div>
                                    <div class="col s5 m5 l5  center-align "> <i class="fa fa-3x material-icons">{{build.unitTest.percentPassed}}%</i> <br><span>Test Passed</span></div>
                                </div>
                                <div class="row">
                                    <div class="progress progress-big">
                                        <div class="determinate center-align white-text" style="width: {{build.unitTest.codeCovered}}%"><span >{{build.unitTest.codeCovered}}%</span></div>
                                    </div>
                                    <div class="center-align cover-width"><span >Code Covered</span></div>
                                </div>
                            </div> 
                        </div>
                        <div class="col s2 m2 l2"> 
                            <div class="card-panel light-blue ">
                                <span class="card-title">Functional Test</span><br><br>
                                <div class="row">
                                    <div class="col s7 m7 l7 center-align" > 
                                        <canvas id="pie" class="chart chart-pie" chart-data="[build.functionalTest.passed,build.functionalTest.failed]" chart-legend='false' chart-labels="vm.chartLabels" width="150" height="150">
                                        </canvas> 
                                    </div>
                                    <div class="col s5 m5 l5 center-align "> <i class="fa fa-3x material-icons">{{build.functionalTest.percentPassed}}%</i> <br><span>Test Passed</span></div>
                                </div>
                                <div class="row">
                                    <div class="progress progress-big">
                                        <div class="determinate center-align white-text" style="width: {{build.functionalTest.codeCovered}}%"><span >{{build.functionalTest.codeCovered}}% </span></div>
                                    </div>
                                    <div class="center-align cover-width"><span >Code Covered</span></div>
                                </div>
                            </div> 
                        </div>
                        <div class="col s4 m4 l4 center-align"> 
                            <br>
                            <div ng-show="build.state == 'Rejected'">
                                <span> Result :</span><br>
                                <span class="red-text text-darken-4">{{build.result.description}}</span>
                                <h3 class="red-text text-darken-4">{{build.result.action}}</h3><br>
                            </div>
                            <div ng-show="build.state == 'Complete'">
                                <span> Result :</span><br>
                                <span class="green-text text-darken-1">{{build.result.description}}</span>
                                <h3 class="green-text text-darken-1">{{build.result.action}}</h3><br>
                            </div>
                            <div ng-show="build.state == 'Accepted'">
                                <span> Result :</span><br>
                                <span class="yellow-text text-darken-4">{{build.result.description}}</span>
                                <h3 class="yellow-text text-darken-4">{{build.result.action}}</h3><br>
                            </div>
                            <a class="waves-effect waves-light btn btn-large" ng-show="build.state == 'Rejected'" onclick="Materialize.toast('Finding ...', 3000, 'rounded')"><i class="material-icons left fa fa-search"></i>Find Issues</a>
                            <div ng-show="build.state == 'Complete'">
                                <div class="col s6 m6 l6">
                                    <a class="waves-effect waves-light btn btn-large" onclick="Materialize.toast('Deploying Build ...', 3000, 'rounded')"><i class="material-icons left fa fa-check"></i>Deploy</a>&nbsp; &nbsp; to: 
                                </div>
                                <select class="browser-default col s6 m6 l6 big" >
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Production">Production</option>
                                    <option value="Staging-1">Staging-1</option>
                                    <option value="Staging-2">Staging-2</option>
                                    <option value="SIT">SIT</option>
                                </select>
                            </div>
                            <a class="waves-effect waves-light btn btn-large" ng-show="build.state == 'Accepted'" onclick="Materialize.toast('Merging the Build...', 3000, 'rounded')"><i class="material-icons left fa fa-retweet"></i>Merge Build</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

