/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Oct, 2015, 6:32:46 PM
    Author     : Amit
*/

/*FONT-SIZE_HELPER_CLASESS*/
.tiny{
    font-size: 10px;
}
.small{
    font-size: 12px;
}
.small-rel{
    font-size: 0.8em;
}
.medium{
    font-size: 14px;
}
.big{
    font-size: 16px;
}
.big-rel{
     font-size:1.2em;
}
.large{
    font-size: 20px;
}
.huge{
    font-size: 24px;
}
.cover-width{
    width:100%;
}
.progress-big{
    height: 22px;
}
ul{
    font-size: 0.7em;
}
